/* 
--------------- RESET ------------------
*/

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

/* 
--------------- PADRÕES ------------------
*/

.page {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    position: static;
}

.grid-container {
    clear: both;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 0;
    padding: 0;
    padding-bottom: 5%;
    margin: 0 auto;
}

.conteudo {
    margin-top: 20%;
}

.paragrafo,
.titulo {
    padding: 2% 0%;
    width: 100%;
    height: auto;
    text-align: center;
}

/* 
--------------- NAVBAR ------------------
*/

.nav {
    background-color: black;
    padding: 3% 3% 3% 0%;
    position: absolute;
}

#nav-menu {
    float: right;
    text-align: center;
    color: #000;
    width: 56px;
    height: 56px;
    border-radius: 56px;
    cursor: pointer;
}

#nav-collapse {
    clear: both;
    display: none;
    position: static;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

#nav-collapse ul {
    width: 100%;
    float: left;
    overflow: hidden;
    font-size: 1.2em;
    text-align: center;
}

#nav-collapse li {
    padding: 5%;
}

#nav-collapse li a {
    padding: 1.5% 5%;
    color: #fff;
}

#nav-collapse li a:hover {
    background-color: #da6709;
}

/* 
--------------- CAROUSEL ------------------
*/

#carousel {
    height: 10%;
    text-align: center;
}

.carousel__img {
    width: 100%;
    height: 200px;
}

.arrows {
    width: 10%;
    height: auto;
    position: absolute;
    background-color: transparent;
    color: white;
    margin-top: 100px;
}

.prev {
    left: 5%;
}

.next {
    right: 5%;
}

.carousel__text {
    margin-top: 85px;
    padding: 2% 2% 2% 2%;
    width: 50%;
    left: 25%;
    position: absolute;
    color: #fff;
    border: 1px solid #fff;
    font-size: 1.2em;
    font-weight: 700;
    text-shadow: 2px 2px 0 #000;
}

/* 
--------------- SOBRE ------------------
*/

.sobre__img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

/* 
--------------- BYRON ------------------
*/

.byron {
    padding-top: 5%;
    background-color: #252525;
    color: white;
    text-align: center;
}

.container__info {
    clear: both;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 0;
    padding: 5%;
    margin: 0 auto;
}

.container__info a {
    color: white;
}

.container__info i,
.container__info p {
    padding: 2% 0%;
}

#map {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 100px;
}

.logo {
    width: 100%;
    height: 50px;
}

.container__servicos {
    clear: both;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 0;
    padding: 5%;
    margin: 0 auto;
}

/* 
--------------- CONTATO ------------------
*/

#contato {
    height: 10%;
    padding-bottom: 5%;
}

#contato .titulo {
    border-bottom: 1px solid #000;
    padding: 3%;
    margin-bottom: 5%;
}

#contato label,
#contato input,
#contato button {
    font-size: 1em;
    padding: 1% 1%;
    width: 75%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

#contato input {
    background-color: #D2E2D2;
    border: 1px solid #000;
    border-radius: 50px;
}

#contato button {
    margin-top: 3%;
    border: 1px solid #24619B;
    background-color: #1ED7F3;
    border-radius: 50px;
}

#contato button:hover {
    background-color: #252525;
    color: white;
}

/* 
--------------- FOOTER ------------------
*/

#footer {
    background-color: #000;
    color: white;
}

.footer__sociais {
    padding: 5% 0%;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer__sociais__item {
    padding: 0%;
    color: white;
    margin: 0 auto;
    font-size: 1.4em;
    text-align: center;
}

@media only screen and (min-width: 375px) {
    .conteudo {
        margin-top: 17%;
    }
    .carousel__text {
        left: 25%;
    }
}

@media only screen and (min-width: 425px) {
    .nav {
        padding: 2% 2% 2% 2%;
    }
    .conteudo {
        margin-top: 15%;
    }
    .arrows {
        margin-top: 90px;
    }
    .carousel__text {
        margin-top: 75px;
        font-size: 1.5em;
    }
    .container__info i,
    .container__info p {
        font-size: 20px;
    }
    #map {
        margin-top: 5%;
        margin-bottom: 5%;
        height: 150px;
    }
}

@media only screen and (min-width: 512px) {
    .conteudo {
        margin-top: 11%;
    }
}

@media only screen and (min-width: 768px) {
    .nav {
        padding: 1% 1% 1% 1%;
    }
    #nav-menu {
        display: none;
    }
    #nav-collapse {
        display: block;
    }
    #nav-collapse li {
        width: 25%;
        float: left;
        margin: auto;
        padding: 1.5% 7% 1.5% 7%;
    }
    #nav-collapse li a {
        float: left;
    }
    #nav-collapse li a:hover {
        padding: 2%;
    }
    .conteudo {
        margin-top: 7%;
    }
    .carousel__img {
        height: 300px;
    }
    .arrows {
        margin-top: 150px;
    }
    .carousel__text {
        margin-top: 140px;
        font-size: 1.7em;
    }
    .sobre__img {
        width: 150px;
        height: 150px;
    }
    .paragrafo {
        font-size: 16px;
    }
    .container__info i,
    .container__info p {
        font-size: 24px;
    }
    .logo {
        width: 75%;
        margin: 0 auto;
    }
    #map {
        height: 250px;
        margin: 0;
    }
    .container__servicos {
        grid-template-columns: auto auto;
    }
    .container__servicos p {
        margin-top: 10%;
    }
    #contato label,
    #contato input,
    #contato button {
        font-size: 1.2em;
        width: 50%;
    }
    .footer__sociais {
        padding: 4% 0%;
    }
    .footer__sociais__item {
        padding: 0%;
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 1024px) {
    #nav-collapse li {
        padding: 1% 5% 1% 5%;
        font-size: 1.5em;
    }
    .conteudo {
        margin-top: 5%;
    }
    .carousel__img {
        height: 500px;
    }
    .arrows {
        margin-top: 250px;
    }
    .carousel__text {
        margin-top: 230px;
        font-size: 2.5em;
    }
    .paragrafo {
        font-size: 22px;
    }
    .titulo {
        font-size: 3em;
    }
    #byron h2 {
        font-size: 2em;
    }
    .logo {
        width: 50%;
    }
    .container__info i,
    .container__info p {
        font-size: 30px;
        padding: 1% 0%;
    }
    #map {
        height: 350px;
    }
    .container__servicos p {
        margin-top: 5%;
        font-size: 1.5em;
    }
    #contato label,
    #contato input,
    #contato button {
        font-size: 1.5em;
    }
    .footer__sociais__item {
        font-size: 2em;
    }
}

@media only screen and (min-width: 1280px) {
    #nav-collapse li {
        padding: 0.5% 5% 0.5% 5%;
    }
    .carousel__text {
        margin-top: 230px;
    }
}

@media only screen and (min-width: 1440px) {
    .paragrafo {
        font-size: 27px;
    }
    .titulo {
        font-size: 4em;
    }
    #byron h2 {
        font-size: 3em;
    }
    .container__info i,
    .container__info p {
        font-size: 40px;
    }
    .container__servicos p {
        font-size: 1.7em;
        margin-top: 5%;
    }
    #contato label,
    #contato input,
    #contato button {
        font-size: 2em;
    }
    .footer__sociais__item {
        font-size: 2.5em;
    }
}