* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.page {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    position: static;
}

.nav {
    background-color: black;
    padding: 3% 3% 3% 0%;
    position: absolute;
}

#nav-menu {
    float: right;
    text-align: center;
    color: #000;
    width: 56px;
    height: 56px;
    border-radius: 56px;
    cursor: pointer;
}

#nav-collapse {
    clear: both;
    display: none;
    position: static;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

#nav-collapse ul {
    width: 100%;
    float: left;
    overflow: hidden;
    font-size: 1.2em;
    text-align: center;
}

#nav-collapse li {
    padding: 5%;
}

#nav-collapse li a {
    padding: 1.5% 5%;
    color: #fff;
}

#nav-collapse li a:hover {
    background-color: #da6709;
}

.conteudo {
    margin-top: 20%;
}

.grid-container {
    clear: both;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 0;
    padding-bottom: 5%;
}

.arrows {
    width: 10%;
    height: auto;
    position: absolute;
    background-color: transparent;
    color: white;
    margin-top: 100px;
}

.prev {
    left: 5px;
}

.next {
    right: 5px;
}

#carousel {
    height: 10%;
    text-align: center;
}

.carousel__img {
    width: 100%;
    height: 200px;
}

.carousel__text {
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 5% 5% 5% 5%;
    color: #fff;
    border: 1px solid #fff;
    font-size: 1.2em;
    font-weight: 700;
    text-shadow: 2px 2px 0 #000;
}

#sobre {}

.sobre__img {
    width: 50%;
    height: 100px;
    margin: 0 auto;
}

.sobre__text {
    padding: 5% 5%;
    width: 100%;
    height: auto;
    text-align: center;
}

#paginaX {
    height: 10%;
    background-color: #ff4;
}

#contato {
    height: 10%;
    background-color: #fff;
}

#contato label, input, button{
    font-size: 1.4em;
    padding: 1% 2%;
    width: 50%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

#contato input {
    border: 1px solid #000;
    border-radius: 50px;
}

#contato button {
    margin-top: 3%;
    border: 1px solid #24619B;
    background-color: #1279DC;
    border-radius: 50px;
}

#contato button:hover {
    background-color: #233342;
}

#footer {
    background-color: #2196F3;
}

@media only screen and (min-width: 375px) {
    .conteudo {
        margin-top: 17%;
    }
    .sobre__img {
        height: 120px;
    }
}

@media only screen and (min-width: 425px) {
    .nav {
        padding: 2% 2% 2% 2%;
    }
    #nav-collapse ul {
        font-size: 2em;
    }
    .conteudo {
        margin-top: 15%;
    }
    .arrows {
        margin-top: 90px;
    }
    .carousel__text {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 512px) {
    .nav {
        padding: 2% 2% 2% 2%;
    }
    #nav-collapse ul {
        font-size: 2em;
    }
    .conteudo {
        margin-top: 11%;
    }
    .arrows {
        margin-top: 90px;
    }
    .carousel__text {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 768px) {
    .nav {
        padding: 1% 1% 1% 1%;
    }
    #nav-menu {
        display: none;
    }
    #nav-collapse {
        position: static;
        display: block;
    }
    #nav-collapse ul {
        width: 100%;
        padding: 0;
        font-size: 1.2em;
    }
    #nav-collapse li {
        text-align: center;
        width: 25%;
        float: left;
        margin: auto;
        padding: 1.5% 7% 1.5% 7%;
    }
    #nav-collapse li a {
        float: left;
        color: #fff;
    }
    #nav-collapse li a:hover {
        padding: 2%;
        background-color: #da6709;
    }
    .conteudo {
        margin-top: 7%;
    }
    .carousel__img {
        width: 100%;
        height: 300px;
    }
    .arrows {
        margin-top: 150px;
    }
    .carousel__text {
        top: 36%;
        padding: 1% 2% 1% 2%;
        font-size: 1.7em;
    }
    .sobre__img {
        width: 25%;
    }
}

@media only screen and (min-width: 1024px) {
    #nav-collapse li {
        padding: 1% 5% 1% 5%;
        font-size: 1.5em;
    }
    .conteudo {
        margin-top: 5%;
    }
    .carousel__img {
        height: 500px;
    }
    .arrows {
        margin-top: 250px;
    }
    .carousel__text {
        top: 53%;
        font-size: 2.5em;
    }
}

@media only screen and (min-width: 1280px) {
    #nav-collapse li {
        padding: 0.5% 5% 0.5% 5%;
    }
    .carousel__text {
        top: 42%;
    }
}

@media only screen and (min-width: 1440px) {
    .carousel__text {
        top: 42%;
    }
}